* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.formWrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(48, 51, 107, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    h1 {
      color: white;
      font-family: sans-serif;
    }
    
    input {
      width: 30%;
      padding: 10px;
      margin-top: 15px;
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      color: white;
      
      &::placeholder {
        color: white;
      }
    }
    
    button {
      width: 200px;
      height: 50px;
      background: rgb(235, 77, 75);
      outline: none;
      color: white;
      border: none;
      margin-top: 2rem;
      border-radius: 10px;
    }
    
    p {
      margin-top: 1rem;
      font-family: sans-serif;
      color: rgba(255,255,255,0.5);
      font-size: 0.9rem;
        
      span {
        a {
          color: rgba(255,255,255,0.9);
          text-decoration: none;
        }
      }
    }
  }